// COLORS
$color-background: #fff;
$color-background-sidebar: #fafafa;
$color-background-hover: whitesmoke;
$color-background-active: #10b9811a;
$color-background-offline: #ef44441a;

$color-black: #0a0a0a;
$color-white: #ffffff;
$color-blue: #3b82f6;
$color-blue-light: #06b6d4;
$color-yellow: #f59e0b;
$color-active: #10b981;
$color-offline: #ef4444;

$color-text-gray: #737373;
$color-text-gray-light: #a1a1a1;

$color-border: #e5e5e5;

$color-box-shadow: #0000000d;
