// COLORS
$color-background: #fff;
$color-background-sidebar: #fafafa;
$color-background-hover: whitesmoke;

$color-primary: #007bff;
$color-primary-light: #b3d4fc;
$color-secondary: #6c757d;
$color-secondary-light: #e9ecef;

$color-black: #0a0a0a;
$color-white: #ffffff;

$color-text-gray: #737373;
$color-text-gray-light: #a1a1a1;

$color-border: #e5e5e5;
