// COLORS
$color-background: #f0f0f0;

$color-primary: #007bff;
$color-primary-light: #b3d4fc;
$color-secondary: #6c757d;
$color-secondary-light: #e9ecef;

$color-black: #1a1a1a;
$color-white: #ffffff;

// BORDERS
$border-default: 1.2rem;
