@use '../abstracts' as a;

.filter {
  padding: 2.4rem 0 0;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    @include a.for-size(min-desktop-up) {
      flex-direction: row;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    label {
      font-weight: 500;
      font-size: 1.4rem;
    }
  }

  &__elements {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    @include a.for-size(min-desktop-up) {
      flex-direction: row;
    }
  }

  &__input,
  &__select {
    width: 100%;
    padding: 0.8rem 1.2rem;
    border: 1px solid a.$color-border;
    border-radius: 0.4rem;
    font-size: 1.4rem;
  }

  &__input {
    // max-width: 40rem;
    padding-left: 2.5rem;
  }

  &__clear {
    padding: 0.4rem 0.8rem;
    border: 1px solid a.$color-border;
    border-radius: 0.4rem;
    min-height: 3rem;
    align-self: flex-end;

    &:hover {
      background-color: a.$color-background-hover;
    }
  }

  & svg {
    color: a.$color-text-gray;
  }
}
