@use '../abstracts' as a;

.summary-card {
  padding: 2.4rem;

  @include a.for-size(phone-only) {
    padding: 1.6rem;
  }

  &__title {
    font-size: 3rem;
    margin-bottom: 0;

    @include a.for-size(phone-only) {
      font-size: 1.8rem;
    }
  }

  &__description {
    font-size: 1.6rem;
    color: a.$color-text-gray;
    margin-bottom: 0;

    @include a.for-size(phone-only) {
      font-size: 1.4rem;
    }
  }
}
