@use '../abstracts' as a;

.table {
  border-collapse: collapse;
  font-size: 1.4rem;

  th,
  td {
    padding: 1.6rem;
    text-align: left;
    border-bottom: 1px solid a.$color-border;
  }

  th {
    background-color: a.$color-background-sidebar;
    font-weight: bold;
  }

  tr:last-child td {
    border-bottom: none;
  }

  tr:hover {
    background-color: a.$color-background-hover;
  }

  &__cell-empty {
    font-size: 1.6rem;
    text-align: center;
    font-style: italic;
    color: a.$color-text-gray;
    padding-block: 3rem;
  }

  &__badge {
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    color: a.$color-text-gray;
    letter-spacing: 0.05rem;

    &-active {
      background-color: a.$color-background-active;
      color: a.$color-active;
    }

    &-offline {
      background-color: a.$color-background-offline;
      color: a.$color-offline;
    }

    &-4g {
      color: a.$color-blue-light;
    }

    &-5g {
      color: a.$color-blue;
    }

    &-signal1 {
      color: a.$color-offline;
    }

    &-signal2 {
      color: a.$color-yellow;
    }

    &-signal3 {
      color: a.$color-blue-light;
    }

    &-signal4 {
      color: a.$color-blue;
    }

    &-signal5 {
      color: a.$color-active;
    }
  }
}
