@use '../abstracts' as a;

.header {
  height: 3.95rem;

  &__content {
    padding: 0.8rem;
  }

  &__title {
    font-size: 1.6rem;
    margin-bottom: 0;

    @include a.for-size(phone-only) {
      font-size: 1.4rem;
    }
  }
}
