@use '../abstracts/' as a;

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: a.$color-background-sidebar;

  &__header {
    padding: 0.8rem;
  }

  &__link {
    display: block;

    & svg {
      width: 10rem;
      height: 2rem;
    }
  }

  &__content {
    flex: 1;
    padding: 0.8rem;

    & p {
      color: a.$color-text-gray;
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
  }

  &__item {
    padding: 0.8rem;

    &:hover {
      background-color: a.$color-background-hover;
    }

    & a {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      font-size: 1.4rem;
    }
  }
}
