@use '../abstracts' as a;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

input,
select,
textarea {
  font-family: inherit;
}

input:focus-visible,
select:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px a.$color-box-shadow;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}
