@use '../abstracts' as a;

.u-container {
  @include a.for-size(phone-only) {
    padding-inline: 0.8rem;
  }

  @include a.for-size(tablet-portrait-up) {
    padding-inline: 0.8rem;
  }

  @include a.for-size(tablet-landscape-up) {
    padding-inline: 1.6rem;
  }

  @include a.for-size(desktop-up) {
    padding-inline: 2.4rem;
  }
}

.u-text-center {
  text-align: center;
}

.u-cursor-pointer {
  cursor: pointer;
}

.u-overflow-hidden {
  overflow: hidden;
}

.u-overflow-x-auto {
  overflow-x: auto;
}

.u-w-full {
  width: 100%;
}

.u-h-full {
  height: 100%;
}

.u-relative {
  position: relative;
}

.u-absolute {
  position: absolute;
}

.u-top-1\/2 {
  top: 50%;
  transform: translateY(-50%);
}

.u-left-6 {
  left: 0.6rem;
}

.u-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.u-mx-auto {
  margin-inline: auto;
}

.u-min-h-screen {
  min-height: 100vh;
}

.u-flex {
  display: flex;
}

.u-flex-1 {
  flex: 1;
}

.u-flex-col {
  flex-direction: column;
}

.u-flex-row {
  flex-direction: row;
}

.u-justify-center {
  justify-content: center;
}

.u-justify-between {
  justify-content: space-between;
}

.u-items-center {
  align-items: center;
}

.u-gap-xs {
  gap: 0.4rem;
}

.u-gap-sm {
  gap: 0.8rem;
}

.u-gap-md {
  gap: 1.6rem;
}

.u-gap-lg {
  gap: 2.4rem;
}

.u-gap-xl {
  gap: 3.2rem;
}

.u-py-4 {
  padding-block: 4rem;
}

.u-border {
  border: 1px solid a.$color-border;
}

.u-border-rounded-sm {
  border-radius: 0.6rem;
}

.u-border-rounded-md {
  border-radius: 1rem;
}

.u-border-rounded-lg {
  border-radius: 1.6rem;
}

.u-border-r {
  border-right: 1px solid a.$color-border;
}

.u-border-b {
  border-bottom: 1px solid a.$color-border;
}
